.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.note-row p {
  margin: 0 34px 0 0;
  padding: 0;
}

.note-row {
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
